.swiper-pagination-bullet {
    background-color: #F63E7B !important;
}

.swiper-pagination-bullet-active {
    background-color: #F63E7B !important;
}

.swiper-pagination-bullet {
    width: 10px !important;
    height: 10px !important;
}

.testimonial-shadow {
    box-shadow: 0 0 3px rgb(0 0 0 / 10%);
}

.team img {
    border-radius: 500px;
    width: 220px;
    box-shadow: 0 0 30px 0 rgb(0 0 0 / 10%);
    border: 10px solid #fff;
}

.team {
    padding-bottom: 20px;
}

.logo {
    width: 128px;
}

.contactInput {
    border-radius: 4px;
    border: 1px solid rgb(226 232 240);
    font-size: 16px;
}

.contactInput:focus {
    border: 1px solid #f63c7a;
    outline: none
}

.newslatterBackground {
    background-color: #fff9ff;
    background-image: url("../../assets/Background-Image/bg8.jpg");
    background-size: 100%;
    background-position: top;
    background-repeat: no-repeat;
}

.bannerImage {
    height: calc(100vh - 72px);
    object-fit: cover;
}

.swiper-button-prev {
    width: 44px;
    height: 44px;
}

.swiper-button-next {
    width: 44px;
    height: 44px;
}

.swiper-button-prev:after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 44px;
    height: 44px;
    background-color: #F63E7B;
}

.swiper-button-next:after {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    width: 44px;
    height: 44px;
    background-color: #F63E7B;
}

.bannerImagePositionSet {
    top: 50%;
    left: 32%;
    transform: translate(-50%, -50%);
}

.bannerTitleStyle {
    letter-spacing: 3px;
    line-height: 70px;
}

.navbarScrollBoxShadow {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 20%)
}

.navbarPaddingZero {
    padding-right: 0px;
    padding-left: 0px;
}

@media screen and (max-width: 389px) {

    .bannerTitleStyle {
        letter-spacing: 1px;
        line-height: 38px;
    }

    .bannerImagePositionSet {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .bannerImage {
        height: calc(70vh - 72px);
        object-fit: cover;
    }

    .swiper-button-prev {
        width: 35px;
        height: 35px;
    }

    .swiper-button-next {
        width: 35px;
        height: 35px;
    }

    .swiper-button-prev:after {
        font-size: 14px;
        width: 35px;
        height: 35px;
    }

    .swiper-button-next:after {
        font-size: 14px;
        width: 35px;
        height: 35px;
    }
}

@media screen and (max-width: 575px) and (min-width: 390px) {
    .bannerTitleStyle {
        letter-spacing: 1px;
        line-height: 38px;
    }

    .bannerImagePositionSet {
        top: 50%;
        left: 45%;
        transform: translate(-50%, -50%);
    }

    .bannerImage {
        height: calc(70vh - 72px);
        object-fit: cover;
    }

    .swiper-button-prev {
        width: 35px;
        height: 35px;
    }

    .swiper-button-next {
        width: 35px;
        height: 35px;
    }

    .swiper-button-prev:after {
        font-size: 14px;
        width: 35px;
        height: 35px;
    }

    .swiper-button-next:after {
        font-size: 14px;
        width: 35px;
        height: 35px;
    }
}